In [1176]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,ElasticNet
from sklearn.preprocessing import PolynomialFeatures
import sklearn
import math

In [1177]:
frame=pd.read_csv("COVID-19.csv")
frame.drop(["records/geoId","records/day","records/month","records/year","records/countryterritoryCode"],axis=1,inplace=True)
frame.columns=[["Date","Confirmed","Deaths","Country","Population"]]
frame.drop("Population",axis=1,inplace=True)
frame.columns = frame.columns.get_level_values(0)
frame["Date"]=pd.to_datetime(frame["Date"],format="%d/%m/%Y")
frame.head()

        Date  Confirmed  Deaths      Country
0 2020-04-03         43       0  Afghanistan
1 2020-04-02         26       0  Afghanistan
2 2020-04-01         25       0  Afghanistan
3 2020-03-31         27       0  Afghanistan
4 2020-03-30          8       1  Afghanistan

In [1178]:
frame.dtypes

Date         datetime64[ns]
Confirmed             int64
Deaths                int64
Country              object
dtype: object

In [1179]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8502 entries, 0 to 8501
Data columns (total 4 columns):
Date         8502 non-null datetime64[ns]
Confirmed    8502 non-null int64
Deaths       8502 non-null int64
Country      8502 non-null object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 265.8+ KB

In [1180]:
frame=frame.sort_values(by=["Country","Date"])
frame.head()

         Date  Confirmed  Deaths      Country
84 2019-12-31          0       0  Afghanistan
83 2020-01-01          0       0  Afghanistan
82 2020-01-02          0       0  Afghanistan
81 2020-01-03          0       0  Afghanistan
80 2020-01-04          0       0  Afghanistan

In [1181]:
frame["Total_Confirmed"]=frame.groupby("Country")["Confirmed"].cumsum()
frame["Total_Deaths"]=frame.groupby("Country")["Deaths"].cumsum()

In [1182]:
df_Bangladesh=frame[frame["Country"]=="Bangladesh"]
df_world=frame[frame["Country"]!="Bangladesh"]

In [1183]:
df_world=df_world[df_world["Total_Confirmed"]>0]

In [1184]:
df_world['Days'] = (df_world['Date'] - df_world.groupby('Country')['Date'].transform('first'))
df_Bangladesh['Days'] = (df_Bangladesh['Date'] - df_Bangladesh.groupby('Country')['Date'].transform('first'))

C:\Users\Sourav\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [1185]:
df_Bangladesh

,Date,Confirmed,Deaths,Country,Total_Confirmed,Total_Deaths,Days
792,2020-03-09,3,0,Bangladesh,3,0,0 days
791,2020-03-15,0,0,Bangladesh,3,0,6 days
790,2020-03-17,2,0,Bangladesh,5,0,8 days
789,2020-03-18,3,0,Bangladesh,8,0,9 days
788,2020-03-19,2,0,Bangladesh,10,0,10 days
787,2020-03-20,0,0,Bangladesh,10,0,11 days
786,2020-03-21,7,0,Bangladesh,17,0,12 days
785,2020-03-22,7,2,Bangladesh,24,2,13 days
784,2020-03-23,3,1,Bangladesh,27,3,14 days
783,2020-03-24,6,0,Bangladesh,33,3,15 days
782,2020-03-25,6,1,Bangladesh,39,4,16 days
781,2020-03-26,0,1,Bangladesh,39,5,17 days
780,2020-03-27,9,0,Bangladesh,48,5,18 days
779,2020-03-28,0,0,Bangladesh,48,5,19 days
778,2020-03-29,0,0,Bangladesh,48,5,20 days
777,2020-03-30,1,0,Bangladesh,49,5,21 days
776,2020-03-31,0,0,Bangladesh,49,5,22 days
775,2020-04-01,2,0,Bangladesh,51,5,23 days
774,2020-04-02,3,1,Bangladesh,54,6,24 days
773,2020-04-03,2,0,Bangladesh,56,6,25 days

In [1186]:
a=df_world["Country"].unique()

In [1187]:
df_world["Days"]=df_world["Days"].astype(str)
df_Bangladesh["Days"]=df_Bangladesh["Days"].astype(str)
df_world["Days"] = df_world["Days"].str.split(' ').str[0]
df_Bangladesh["Days"] = df_Bangladesh["Days"].str.split(' ').str[0]
df_world["Days"]=df_world["Days"].astype(int)
df_Bangladesh["Days"]=df_Bangladesh["Days"].astype(int)
df_world["Days"]=df_world["Days"]+1
df_Bangladesh["Days"]=df_Bangladesh["Days"]+1

C:\Users\Sourav\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sourav\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Sourav\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sourav\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [1188]:
df_USA=df_world[df_world["Country"]=="United_States_of_America"]
df_USA=df_USA[["Days","Total_Confirmed"]]
df_UK=df_world[df_world["Country"]=="United_Kingdom"]
df_UK=df_UK[["Days","Total_Confirmed"]]
df_Italy=df_world[df_world["Country"]=="Italy"]
df_Italy=df_Italy[["Days","Total_Confirmed"]]
df_Spain=df_world[df_world["Country"]=="Spain"]
df_Spain=df_Spain[["Days","Total_Confirmed"]]
df_France=df_world[df_world["Country"]=="France"]
df_France=df_France[["Days","Total_Confirmed"]]

df_India=df_world[df_world["Country"]=="India"]
df_India=df_India[["Days","Total_Confirmed"]]
df_Pakistan=df_world[df_world["Country"]=="Pakistan"]
df_Pakistan=df_Pakistan[["Days","Total_Confirmed"]]

In [1189]:
df_USA = df_USA.sample(frac=1).reset_index(drop=True)
df_UK = df_UK.sample(frac=1).reset_index(drop=True)
df_Italy = df_Italy.sample(frac=1).reset_index(drop=True)
df_France = df_France.sample(frac=1).reset_index(drop=True)
df_Spain = df_Spain.sample(frac=1).reset_index(drop=True)
df_India = df_India.sample(frac=1).reset_index(drop=True)
df_Pakistan = df_Pakistan.sample(frac=1).reset_index(drop=True)
df_Bangladesh = df_Bangladesh.sample(frac=1).reset_index(drop=True)

In [1190]:
df_USA["Extra"]=1
df_UK["Extra"]=1
df_Italy["Extra"]=1
df_France["Extra"]=1
df_Spain["Extra"]=1
df_India["Extra"]=1
df_Italy["Extra"]=1
df_Bangladesh["Extra"]=1
df_Pakistan["Extra"]=1

In [1191]:
df_UK

    Days  Total_Confirmed  Extra
0     64            33718      1
1     58            14543      1
2     44              707      1
3     13                8      1
4     53             5683      1
5     15                9      1
6      3                2      1
7     47             1543      1
8     16                9      1
9     12                8      1
10    36              115      1
11     9                3      1
12    39              273      1
13    50             3277      1
14    63            29474      1
15    46             1391      1
16    49             2630      1
17    45             1140      1
18     5                2      1
19    52             5018      1
20    29               16      1
21     4                2      1
22    21                9      1
23    25               13      1
24    62            25150      1
25    48             1950      1
26    27               13      1
27    57            11658      1
28    55             8077      1
29    26               13      1
..   ...              ...    ...
34    51             3983      1
35    14                9      1
36    37              163      1
37    11                4      1
38    23                9      1
39    18                9      1
40    40              321      1
41    59            17089      1
42    28               13      1
43    43              590      1
44    42              456      1
45    41              373      1
46    31               23      1
47    56             9529      1
48    38              206      1
49    33               40      1
50    54             6650      1
51    10                4      1
52    22                9      1
53     8                3      1
54     1                2      1
55    61            22141      1
56     6                2      1
57    20                9      1
58    60            19522      1
59    35               85      1
60    30               18      1
61    19                9      1
62    34               51      1
63     2                2      1

[64 rows x 3 columns]

In [1192]:
df_USA_X=df_USA[["Days","Extra"]]
df_USA_Y=df_USA["Total_Confirmed"]

df_UK_X=df_UK[["Days","Extra"]]
df_UK_Y=df_UK["Total_Confirmed"]

df_France_X=df_France[["Days","Extra"]]
df_France_Y=df_France["Total_Confirmed"]

df_Italy_X=df_Italy[["Days","Extra"]]
df_Italy_Y=df_Italy["Total_Confirmed"]

df_Spain_X=df_Spain[["Days","Extra"]]
df_Spain_Y=df_Spain["Total_Confirmed"]

df_India_X=df_India[["Days","Extra"]]
df_India_Y=df_India["Total_Confirmed"]

df_Pakistan_X=df_Pakistan[["Days","Extra"]]
df_pakistan_Y=df_Pakistan["Total_Confirmed"]

df_Bangladesh_X=df_Bangladesh[["Days","Extra"]]
df_Bangladesh_Y=df_Bangladesh["Total_Confirmed"]

In [1218]:
def predict(X,y,df_USA_X,df_USA_Y,poly=None):
    x_train, x_test, y_train, y_test = train_test_split(X, y ,test_size = 0.35, shuffle=False)
    model=ElasticNet(warm_start=True)
    if (poly==True):
        poly = PolynomialFeatures(degree=25)
        x_train = poly.fit_transform(x_train)
        x_test = poly.fit_transform(x_test)
        df_USA_X = poly.fit_transform(df_USA_X)    
    model.fit(df_USA_X,df_USA_Y)
    model.coef_.ndim
    model.fit(x_train,y_train)
    predict=model.predict(x_test)
    predict=predict.astype(int)
    mse = sklearn.metrics.mean_squared_error(y_test, predict)
    rmse = math.sqrt(mse)
    from sklearn.metrics import r2_score
    print("r2_score",r2_score(y_test, predict))
    #r2_score=model.score(y_test, predict)
    return mse,rmse,predict,a,y_test

In [1219]:
mse,rmse,predict,a,y_test=predict(df_Bangladesh_X,df_Bangladesh_Y,df_USA_X,df_USA_Y,poly=True)

r2_score 0.9987875805884635

C:\Users\Sourav\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 49288056.96478307, tolerance: 20371622.742021624
  positive)
C:\Users\Sourav\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 561009.5981041755, tolerance: 259574.22123902437
  positive)

In [1207]:
rmse

4692.388772395607

In [1208]:
mse

22018512.391304348

In [1209]:
predict

array([11077,  2310,  6552,  6269,  5987,  3158, 10229,  5138,  3724,
        9663, -2780,   613, -3346, -5325, 11643, -3911,    47, 11360,
        4290,  2876,  -235,  4007, -5043])

In [1210]:
y_test

41    17089
42       13
43      590
44      456
45      373
46       23
47     9529
48      206
49       40
50     6650
51        4
52        9
53        3
54        2
55    22141
56        2
57        9
58    19522
59       85
60       18
61        9
62       51
63        2
Name: Total_Confirmed, dtype: int64